.dashboard-header {
  background-color: #ccc;
  padding: 30px;
  text-align: center;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-gap: 30px;
  margin-top: 30px;
}

.dashboard-grid > div {
  background-color: #ccc;
  padding: 30px;
}
