.showcase {
  padding: 50px;
}

.showcase-header {
  background-color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,.15);
  border-radius: 5px;
  padding: 30px;
  text-align: center;
}

.showcase-grid {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-gap: 30px;
  align-items: flex-start;
  margin-top: 30px;
}

.showcase-grid > div {
  background-color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,.15);
  border-radius: 5px;
  padding: 30px;
}
