* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 500ms ease-in-out;
  z-index: 1;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
  background-color: rgba(0,0,0,.7) !important;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-100px);
}
