* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

p {
  font-size: 17.5px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 17.5px;
}

button, input[type=submit] {
  background-color: grey;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 19px;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 500ms ease-in-out;
  z-index: 1;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
  background-color: rgba(0,0,0,.7) !important;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-100px);
}
